html {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
}
.header{
    height: 60px;
    line-height: 20px;
    padding: 20px;
    background-color: seagreen;
    position: relative;
    margin: 0px;
    }
.navigation{
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
}
.navigation > li{
    padding-left: 20px;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.main{
    display: flex;
    min-height: 500px;
    background-color: lightgrey;
}
.content{
    width: 70%;
}
.content > p{
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    overflow: auto;
}
.sidebar{
    width:30%;
    background-color: darkslategray;
    color:white; 
    padding: 20px;
}
.main > .content > p > img{
    margin: 0px 10px 10px 0px;
    float: left;  
}
